<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>PokemonTypes</key>
	<array>
		<string>Unknown</string>
		<string>Normal</string>
		<string>Fighting</string>
		<string>Flying</string>
		<string>Poison</string>
		<string>Ground</string>
		<string>Rock</string>
		<string>Bug</string>
		<string>Ghost</string>
		<string>Steel</string>
		<string>Fire</string>
		<string>Water</string>
		<string>Grass</string>
		<string>Electric</string>
		<string>Psychic</string>
		<string>Ice</string>
		<string>Dragon</string>
		<string>Dark</string>
		<string>Fairy</string>
	</array>
</dict>
</plist>
