<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SettingMenu</key>
	<dict>
		<key>Sections</key>
		<array>
			<string>VIEWS</string>
			<string></string>
			<string>DEVELOPER</string>
		</array>
		<key>RowsInSections</key>
		<array>
			<array>
				<string>Measurment Units</string>
			</array>
			<array>
				<string>---</string>
				<string>---</string>
			</array>
			<array>
				<string>GitHub @iDara09</string>
				<string>Source Code</string>
				<string>Disclaimer</string>
				<string>Credits</string>
			</array>
		</array>
	</dict>
	<key>HomeMenu</key>
	<dict>
		<key>Sections</key>
		<array>
			<string>POKEMON</string>
			<string>BAG</string>
		</array>
		<key>RowsInSections</key>
		<array>
			<array>
				<string>Pokedex</string>
				<string>Types</string>
				<string>Moves</string>
				<string>Abilities</string>
			</array>
			<array>
				<string>TMs</string>
				<string>Items</string>
				<string>Berries</string>
			</array>
		</array>
	</dict>
	<key>PokemonTypes</key>
	<array>
		<string>Normal</string>
		<string>Fighting</string>
		<string>Flying</string>
		<string>Poison</string>
		<string>Ground</string>
		<string>Rock</string>
		<string>Bug</string>
		<string>Ghost</string>
		<string>Steel</string>
		<string>Fire</string>
		<string>Water</string>
		<string>Grass</string>
		<string>Electric</string>
		<string>Psychic</string>
		<string>Ice</string>
		<string>Dragon</string>
		<string>Dark</string>
		<string>Fairy</string>
	</array>
	<key>EvolutionSpecialCaseForm</key>
	<array>
		<string>mega</string>
		<string>mega-x</string>
		<string>mega-y</string>
		<string>primal</string>
		<string>ash</string>
		<string>shield</string>
	</array>
</dict>
</plist>
